@import './_mixins.scss';
@import './_constantes.scss';
@import './_fonts.scss';



.background_img{
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.center{
	position:absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.center_center{
	text-align: center;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	width: 100%;
}

.unselectable{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.full{
	width:100%;
	height: 100%;
}


a{
	cursor: pointer;
	text-decoration: none;
	color:inherit;
}


